# -------------------------
# Python
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.env
.venv/
env/

# -------------------------
# Artifacts and models
# -------------------------
artifacts/
*.pkl
*.joblib
*.h5

# -------------------------
# IDE / Editor
# -------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db
